<app-report-form (reportSubmitted)="loadReports()" (themeChange)="updateTheme()"></app-report-form>
<div class="table-responsive">
  <table class="table">

    <thead>
      <tr>
        <th scope="col" id="reporter-header" (click)="sortReports(1)">
          Reporter
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Sort_both_small.svg/910px-Sort_both_small.svg.png"
            width="12px" height="12px" [style.filter]="dataTheme === 'dark' ? 'invert(100%)' : 'none'">
        </th>
        <th scope="col" id="troublemaker-header" (click)="sortReports(2)">Troublemaker <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Sort_both_small.svg/910px-Sort_both_small.svg.png"
            width="12px" height="12px" [style.filter]="dataTheme === 'dark' ? 'invert(100%)' : 'none'"></th>
        <th scope="col" id="location-header" (click)="sortReports(3)">Location <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Sort_both_small.svg/910px-Sort_both_small.svg.png"
            width="12px" height="12px" [style.filter]="dataTheme === 'dark' ? 'invert(100%)' : 'none'"></th>
        <th scope="col" id="time-reported-header" (click)="sortReports(4)">Time Reported <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Sort_both_small.svg/910px-Sort_both_small.svg.png"
            width="12px" height="12px" [style.filter]="dataTheme === 'dark' ? 'invert(100%)' : 'none'"></th>
        <th scope="col">Details</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="reports.length == 0">
        <td colspan="6">No reports found</td>
      </tr>
      <tr *ngFor="let report of reports">
        <!-- the data table table loads before http.get is completed in the service -->
        <td>{{ report.reporterInfo.name }}</td>
        <td>{{ report.troublemakerName }}</td>
        <td>{{ report.location.name }}</td>
        <td>{{ report.timeDate | date:'MMM d, h:mm a' }}</td>

        <td><button [routerLink]="['details', report.id]">View Details</button></td>
        <td><button (click)="deleteReport(report)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>