.table {

  /* overflow:hidden; is necessary for making rounded corners work */
  border: 1px solid black;
  border-radius: 18px;
  overflow: hidden;
  /* border-spacing: 0; is used instead of border-collapse: collapse; 
  because border-collapse does not work with overflow: hidden;*/
  border-spacing: 0;

  position: absolute;
  top: 650px;
  width: calc(100% - 60px);
  margin: 30px;
  min-width: 234px;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

@media (max-width: 650px) {
  .table {
    top: 1290px;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    border-collapse: collapse;
  }
}

th,
td {
  text-align: center;
  padding: 10px;
  height: 40px;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

td {
  border: 1px solid #ccc;
  border-bottom: none;
  border-right: none;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #f9f9f9;
}









#reporter-header {
  cursor: pointer;
}

#troublemaker-header {
  cursor: pointer;
}

#location-header {
  cursor: pointer;
}

#time-reported-header {
  cursor: pointer;
}



button {
  background-color: #6c757d;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 5px;
  height: 100%;
  width: 100%;
}

button:hover {
  background-color: #495057;
}

button:active {
  background-color: #343a40;
}