#table-container {
  top: 650px;
  width: 100%;
  position: absolute;
}

.table {
  /* overflow:hidden; is necessary for making rounded corners work */
  border: 1px solid var(--border-color);
  border-radius: 18px;
  overflow: hidden;
  /* border-spacing: 0; is used instead of border-collapse: collapse; 
  because border-collapse does not work with overflow: hidden;*/
  border-spacing: 0;

  /* position: absolute; */
  /* top: 650px; */
  width: calc(100% - 60px);
  margin: 30px;
  min-width: 234px;
  font-family: sans-serif;
  font-size: 16px;
  color: var(--text-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

@media (max-width: 650px) {
  #table-container {
    top: 1290px;
  }

  .table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    border-collapse: collapse;
  }
}

th,
td {
  text-align: center;
  padding: 10px;
  height: 40px;
}

th {
  background-color: var(--even-table-row-color);
  font-weight: bold;
}

td {
  border: 1px solid var(--internal-border-color);
  border-bottom: none;
  border-right: none;
}

td:first-child {
  border-left: none;
}

tr:nth-child(even) {
  background-color: var(--even-table-row-color);
}

tr:nth-child(odd) {
  background-color: var(--background-color);
}









#reporter-header {
  cursor: pointer;
}

#troublemaker-header {
  cursor: pointer;
}

#location-header {
  cursor: pointer;
}

#time-reported-header {
  cursor: pointer;
}



button {
  background-color: #6c757d;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 5px;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  font-size: 16px;
}

button:hover {
  background-color: #495057;
}

button:active {
  background-color: #343a40;
}