/* .map-container {
  position: absolute;
  top: 63%;
  left: 0;
  right: 0;
  bottom: 0px;
  margin: 30px;
} */

.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 50%;
  height: 613px;
  margin: 30px;
  margin-right: 0;
  z-index: -1;
  min-width: 232px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  border-radius: 18px;
  border: 1px solid #000000;
  overflow: hidden;

}

@media (max-width: 650px) {
  .map-container {
    right: 0;
    margin-right: 30px;
    /* top: 0px; */
  }
}

.map-frame {
  height: 100%;
}

#map {
  height: 100%;
  width: 100%;

}