<div class="report-form-container">
  <div id="title-theme-container">
    <h3>Report Form</h3>
    <button class="otherButton" id="theme-button" (click)="toggleTheme()">Toggle Theme</button>
  </div>

  <!-- <div class="text">Password: BaggyJeans</div> -->
  <form [formGroup]="reportForm" (ngSubmit)="onSubmit()">
    <div formGroupName="reporterInfo">
      <input formControlName="name" type="text" placeholder="Your Name" />
      <input (input)="formatPhoneNumber()" id="phone-number" formControlName="phoneNumber" type="tel"
        placeholder="Phone Number" />
      <div class="requiredText">*Must be exactly 10 numbers</div>
    </div>
    <input formControlName="troublemakerName" type="text" placeholder="Troublemaker's Name" />

    <div class="text" style="margin-bottom:0px;">Select Location:</div>
    <div class="text" style="margin-top:0px; font-size: x-small; color: var(--placeholder-color);">Hover for
      coordinates</div>
    <select [ngClass]="{'isPlaceholder': this.isLocationPlaceholder == true}" id="locationName" placeholder="Location"
      formGroupName="location" (change)="removeId0FromLocationList()">
      <option *ngFor="let location of locationList" [value]="location.id"
        [title]="location.longitude + ', ' + location.latitude">{{location.name}}</option>
    </select>
    <button (click)="showPopup = true" type="button" class="otherButton">Create Location</button>

    <input formControlName="pictureUrl" type="text" placeholder="Picture Link (optional)" />
    <textarea formControlName="extraInfo" placeholder="Extra Information (optional)"></textarea>
    <button id='submitButton' type="submit">Submit Report</button>
  </form>
</div>
<app-location-form *ngIf="showPopup" (locationCreated)="onLocationCreated($event)"
  (close)="showPopup = false"></app-location-form>