/* #details-container {
    background-color: #ccc;
    position: absolute;
    top: 0px;
    left: 50%;
    right: 0;
    bottom: 35%;
    margin: 30px;
    border-radius: 8px; 
}

.report-details {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
}

.report-details h2 {
    margin-bottom: 20px;
}




#mapContainer {
    height: 40vh; width: 100%; align-self: center; margin-bottom: 8px;
} */

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
    
#createLocation {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 101;

    /* Same as report-form */
    position: absolute;
    top: 0px;
    left: 50%;
    right: 0;
    height: 575px;
    padding: 20px;
    padding-bottom: 30px;
    margin: 30px;
    border-radius: 8px;
}

@media (max-width: 602px) {
    #createLocation {
      left: 0;
      top: 640px;
    }
}


#mapContainer {
    border: 2px solid black;
    height: 340px;  
    width: 100%; 
    align-self: center; 
    margin-bottom: 8px;
}

input {
    border-radius: 4px;
}
  
.requiredText {
    font-size: .9rem;
    color: rgb(143, 0, 0);
    margin-top: 0;
    margin-bottom: 10px;
    font-style: italic;
}