/* You can add global styles to this file, and also import other style files */
:root {
  --background-color: #f9f9f9;
  --border-color: #3b3b3b;
  --internal-border-color: #ccc;
  --even-table-row-color: #f2f2f2;
  --text-color: black;
  --red-text-color: rgb(143, 0, 0);

  --no-clear-background-color: #f9f9f9;
  --no-clear-internal-border-color: #ccc;
}

[data-theme='dark'] {
  --background-color: #3b3b3b;
  --border-color: gray;
  --internal-border-color: gray;
  --even-table-row-color: #2b2b2b;
  --text-color: #ffffff;
  --red-text-color: #ff0000;

  --no-clear-background-color: #3b3b3b;
  --no-clear-internal-border-color: gray;
}

[data-theme='clear'] {
  --background-color: rgba(0, 0, 0, 0);
  --border-color: black;
  --internal-border-color: black;
  --even-table-row-color: rgba(0, 0, 0, 0);
  --text-color: #ffffff;
  --red-text-color: #ff0000;

  --no-clear-background-color: #3b3b3b;
  --no-clear-internal-border-color: gray;
}